{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended", // uses the recommended rules from the @typescript-eslint/eslint-plugin
    "prettier",
    "plugin:prettier/recommended",
    "plugin:sonarjs/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": ["dist"],
  "overrides": [
    {
      "files": ["**/*.spec.ts"],
      "rules": {
        "sonarjs/no-duplicate-string": ["off"]
      }
    }
  ],
  "rules": {
    "quotes": ["warn", "single"],
    "semi": ["off"],
    "dot-notation": "off",
    "eqeqeq": "error",
    "curly": ["error", "all"],
    "prefer-arrow-callback": ["warn"],
    "max-len": ["warn", 140],
    "no-console": ["warn"], // use the provided Homebridge log method instead
    "no-non-null-assertion": ["off"],
    "lines-between-class-members": [
      "warn",
      "always",
      { "exceptAfterSingleLine": true }
    ],
    "no-else-return": ["error", { "allowElseIf": false }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/array-type": ["warn"],
    "@typescript-eslint/prefer-for-of": ["warn"],
    "@typescript-eslint/adjacent-overload-signatures": ["warn"],
    "@typescript-eslint/method-signature-style": ["warn", "method"],
    "@typescript-eslint/no-misused-new": ["error"],
    "sonarjs/cognitive-complexity": ["error", 20]
  }
}
