name: Coverage and Analysis

on:
  workflow_run:
    workflows: ["Test and Build"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Full Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.workflow_run.head_branch }}
          fetch-depth: 0
      
      - name: Fetch reports
        uses: actions/download-artifact@v2
        with:
          name: reports

      - name: Run SonarCloud
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Publish Code Coverage
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage/clover.xml
          flags: tests
          name: codecov-umbrella
          fail_ci_if_error: true
